<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<ul th:fragment="sns-links" class="list-inline text-center">
    <li>
        <a target="_blank" href="https://github.com/Penistrong">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.zhihu.com/people/chen-li-wei-32-18">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa  fa-stack-1x fa-inverse">知</i>
      </span>
        </a>
    </li>
</ul>

</html>