.frontpage-section-top {
    margin-top:24px;
}

.frontpage-section-header {
    margin-bottom:6px;
}

.explore-header {
    font-size:20px;
    font-weight:700;
}
a.plain-link {
    color:#fff;
    text-decoration:none;
}

a.plain-link:hover {
    text-decoration: none;
}
.movie-row{
    position:relative;
}

.movie-row .movie-row-bounds{
    overflow-x:hidden;
}

.movie-row .movie-row-bounds .movie-row-scrollable{
    white-space:nowrap;
    overflow-x:hidden;
    transition:all .2s cubic-bezier(.4,0,.2,1);
}

.movie-row .movie-row-bounds .movie-row-scrollable::-webkit-scrollbar{
    display:none;
}

.movie-row .movie-row-bounds .movie-row-item{
    white-space:normal;
    margin:0 1px 0 0;
    display:inline-block;
    vertical-align:top;
}

.movie-row .movie-row-back-button{
    position:absolute;
    top:40%;
    left:-6px;
    z-index:10;
}

.movie-row .movie-row-forward-button{
    position:absolute;
    top:40%;
    right:-6px;
    z-index:10;
}

.movie-card-md1{
    float:left;
    margin:0 1px 3px 0;
    position:relative;
    height:280px;
    width:154px;
    overflow-x:visible;
    font-size:14px;
}

.movie-card-md1 movie-card-actions-menu{
    position:absolute;
    top:8px;
    right:6px;
    z-index:2;
}

.movie-card-md1 movie-card-actions-menu .actions-button{
    visibility:hidden;
}

.movie-card-md1:hover movie-card-actions-menu .actions-button{
    visibility:visible;
}

.movie-card-md1 .card{
    background:#fff;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    display:inline-block;
    height:280px;
    width:154px;
    position:relative;
    box-shadow:0 1px 3px rgba(0,0,0,.5);
    overflow-y:hidden;
}

.movie-card-md1 .card:hover{
    box-shadow:0 2px 18px rgba(0,0,0,.5);
}

.movie-card-md1 .card .poster:hover{
    cursor:pointer;
}

.movie-card-md1 .card .overlay .title:hover{
    color:#3bace1!important;
    cursor:pointer;
}

.movie-card-md1 .card .poster{
    width:154px;
    height:231px;
    position:relative;
    top:0;
    z-index:1;
}

.movie-card-md1 .card .poster img{
    max-width:100%;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

.movie-card-md1 .card .poster.poster-hidden img{
    opacity:.1;
}

.movie-card-md1 .card .poster.empty-poster{
    background:#4c4c4c;
}

.movie-card-md1 .card .overlay{
    position:absolute;
    bottom:0;
    width:154px;
    background:#fff;
    z-index:3;
}

.movie-card-md1 .card .overlay:hover .above-fold .releaseYear{
    display:inherit;
}

.movie-card-md1 .card .overlay:hover .above-fold .rating-indicator{
    display:none;
}

.movie-card-md1 .card .overlay:hover .below-fold{
    max-height:280px;
}

.movie-card-md1 .card .overlay .above-fold{
    margin-bottom:8px;
}

.movie-card-md1 .card .overlay .above-fold .title{
    position:relative;
    text-align:left;
    line-height:19px;
    margin:8px 8px 0;
    font-size:16px;
    color:rgba(0,0,0,.8);
}

.movie-card-md1 .card .overlay .above-fold .rating-indicator{
    position:relative;
    margin:3px 0 0 7px;
}

.movie-card-md1 .card .overlay .above-fold .wishlist{
    float:right;
    color: #d35113;
    margin-right:7px;
    margin-top:2px;
    font-size:13px;
}

.movie-card-md1 .card .overlay .above-fold .releaseYear{
    position:relative;
    text-align:left;
    margin:6px 0 0 9px;
    height:14px;
    color:rgba(0,0,0,.6);
    display:none;
}

.movie-card-md1 .card .overlay .below-fold{
    max-height:0;
    transition:max-height .2s;
}

.movie-card-md1 .card .overlay .below-fold .genre-list{
    text-align:left;
    margin:0 8px;
    padding-top:9px;
}

.movie-card-md1 .card .overlay .below-fold .genre-list .genre{
    text-align:center;
    margin:0 5px 5px 0;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    padding:0 4px;
    background:#3bace1;
    display:inline-block;
}

.movie-card-md1 .card .overlay .below-fold .genre-list .genre:hover{
    cursor:pointer;
}

.movie-card-md1 .card .overlay .below-fold .genre-list .genre a{
    color:#fff;
    font-weight:300;
    line-height:12px;
    letter-spacing:.1px;
}

.movie-card-md1 .card .overlay .below-fold .ratings-display{
    text-align:center;
    padding-top:6px;
    color:rgba(0,0,0,.6);
}

.movie-card-md1 .card .overlay .below-fold .ratings-display .rating-predicted{
    display:inline-block;
}

.movie-card-md1 .card .overlay .below-fold .ratings-display .rating-average{
    display:inline-block;
    margin-left:7px;
}

.movie-card-md1 .card .overlay .below-fold .ratings-display .rating-large{
    text-align:left;
    margin:0;
    font-size:16px;
    line-height:12px;
}

.movie-card-md1 .card .overlay .below-fold .ratings-display .rating-total{
    text-align:left;
    font-size:12px;
    line-height:10px;
}

.movie-card-md1 .card .overlay .below-fold .ratings-display .rating-caption{
    text-align:center;
    margin:0;
    font-size:13px;
    line-height:16px;
}

.movie-card-md1 .card .overlay .below-fold .rating-entry{
    padding:8px 0 0 2px;
}

/* Genre Title StyleSheet*/
.genre-title{
    padding:0 1rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: normal;
}

.genre-title-link-wrapper{
    display: inline-block;
}

.genre-title .genre-title__text:before{
    background: #f5c518;
    border-radius: 2px;
    content: '';
    margin-left: -.75em;
    align-self: flex-start;
    position: absolute;
    height: 100%;
    width:4px;
}

.genre-title__text{
    display: flex;
    max-height: 2.4em;
    border: none;
    padding-left: .75em;
    position: relative;
}

.genre-title__description{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: .03125em;
    border: none;
    display: block;
    padding-top: .5rem;
    color: rgba(255,255,255,0.7);
}

.genre-link-icon--inline{
    height: 1em;
    width: 1em;
    vertical-align: baseline;
}

.genre-title-link-chevron{
    font-size: 0.8em;
    margin-left: 0.5rem;
    align-self: center;
    transition: color 0.15s;
    flex-shrink: 0;
}
