<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: header('Home | Cinema Chain Platform', 'homePage')">
</head>

<body>
    <nav th:replace="common/nav :: navbar"></nav>

    <header th:replace="common/intro-header :: intro-header('推荐系统', 'Movie recommendation using DNN model')"></header>

    <div class="container">
        <div th:each="entry:${genre_movies}" class="frontpage-section-top">
            <div class="explore-header frontpage-section-header">
                <a class="plain-link genre-title genre-title-link-wrapper" title="Go to the full list" th:href="@{|/collection/${entry.getKey()}|}">
                    <h3 class="genre-title__text">
                        <span  th:text="${entry.getKey()}"></span>
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="ipc-icon ipc-icon--chevron-right-inline genre-link-icon--inline genre-title-link-chevron" viewBox="0 0 24 24" fill="currentColor" role="presentation">
                            <path d="M5.622.631A2.153 2.153 0 0 0 5 2.147c0 .568.224 1.113.622 1.515l8.249 8.34-8.25 8.34a2.16 2.16 0 0 0-.548 2.07c.196.74.768 1.317 1.499 1.515a2.104 2.104 0 0 0 2.048-.555l9.758-9.866a2.153 2.153 0 0 0 0-3.03L8.62.61C7.812-.207 6.45-.207 5.622.63z">
                            </path>
                        </svg>
                    </h3>
                    <div class="genre-title__description">Related Movies of <span th:text="${entry.getKey()}"></span></div>
                </a>
            </div>
            <div class="movie-row">
                <div class="movie-row-bounds">
                    <div class="movie-row-scrollable" style="margin-left: 0">
                        <div th:each="Movie:${entry.getValue()}" class="movie-row-item" style="margin-left: 5px">
                            <movie-card-smart>
                                <movie-card-md1>
                                    <div class="movie-card-md1">
                                        <div class="card">
                                            <link-or-emit>
                                                <a th:href="@{|/movie/${Movie.movieId}|}">
                                                    <span>
                                                        <div class="poster">
                                                            <img th:src="@{|/posters/${Movie.movieId}.jpg|}"/>
                                                        </div>
                                                    </span>
                                                </a>
                                            </link-or-emit>
                                            <div class="overlay">
                                                <div class="above-fold">
                                                    <linl-or-emit>
                                                        <a th:href="@{|/movie/${Movie.movieId}|}">
                                                            <span><p class="title" th:text="${Movie.title}"></p></span>
                                                        </a>
                                                    </linl-or-emit>
                                                    <div class="rating-indicator">
                                                        <ml4-rating-or-prediction>
                                                            <div class="rating-or-prediction predicted">
                                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="star-icon" height="14px" version="1.1" viewbox="0 0 14 14" width="14px" xmlns="http://www.w3.org/2000/svg">
                                                                    <defs></defs>
                                                                    <polygon fill-rule="evenodd" points="13.7714286 5.4939887 9.22142857 4.89188383 7.27142857 0.790044361 5.32142857 4.89188383 0.771428571 5.4939887 4.11428571 8.56096041 3.25071429 13.0202996 7.27142857 10.8282616 11.2921429 13.0202996 10.4285714 8.56096041" stroke="none">></polygon>
                                                                </svg>
                                                                <div class="rating-value" th:text="${#numbers.formatDecimal(Movie.averageRating, 1, 2)}"></div>
                                                            </div>
                                                        </ml4-rating-or-prediction>
                                                    </div>
                                                    <p class="releaseYear" th:text="${Movie.releaseYear}"></p>
                                                </div>
                                                <div class="below-fold">
                                                    <div class="genre-list">
                                                        <div class="genre" th:each="subGenre:${Movie.genres}">
                                                            <a th:href="@{|/collection/${subGenre}|}" th:text="${subGenre}"></a>
                                                        </div>
                                                    </div>
                                                    <div class="ratings-display">
                                                        <div class="rating-average">
                                                            <span class="rating-large" th:text="${#numbers.formatDecimal(Movie.averageRating, 1, 2)}"></span>
                                                            <span class="rating-total">/5</span>
                                                            <p class="rating-caption" th:text="${Movie.ratingNumber}+' ratings'"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </movie-card-md1>
                            </movie-card-smart>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</body>


</html>