<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: header(${movie.title} +' | Movie Detail', 'movieDetailPage')">
</head>
<body>
    <nav th:replace="common/nav :: navbar"></nav>

    <header th:replace="common/intro-header::intro-header-movieDetail(${movie.title}, ${movie.movieId})"></header>
    <input style="display: none" id="movieIdContainer" th:value="${movie.movieId}">
    <div class="container">
        <div id="movieDetailsContainer" class="panel-body movie-details-section" v-if="movie.movieId !== undefined">
                <div class="col-md-3 movie-details-poster">
                    <el-image :src="`/posters/${movie.movieId}.jpg`" :alt="movie.title" style="width: 100%">
                        <div slot="placeholder" class="image-slot">
                            <i class="el-icon-picture-outline"></i>
                        </div>
                    </el-image>
                </div>
                <div class="col-md-9">
                    <h1 v-text="movie.title"></h1>
                    <div class="col-md-2">
                        <div class="heading-and-data">
                            <div class="movie-details-heading">Release Year</div>
                            <div v-text="movie.releaseYear"></div>
                        </div>
                        <div class="heading-and-data">
                            <div class="movie-details-heading">Links</div>
                            <a target="_blank" :href="`http://www.imdb.com/title/tt${movie.imdbId}`">IMDB</a>
                            <span>
                                <a target="_blank" :href="`http://www.themoviedb.org/movie/${movie.tmdbId}`">TMDB</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="heading-and-data">
                            <div class="movie-details-heading">MovieLens Prediction</div>
                            <div class="rating-or-prediction predicted">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="star-icon" height="14px" version="1.1" viewbox="0 0 14 14" width="14px" xmlns="http://www.w3.org/2000/svg">
                                    <defs></defs>
                                    <polygon fill-rule="evenodd" points="13.7714286 5.4939887 9.22142857 4.89188383 7.27142857 0.790044361 5.32142857 4.89188383 0.771428571 5.4939887 4.11428571 8.56096041 3.25071429 13.0202996 7.27142857 10.8282616 11.2921429 13.0202996 10.4285714 8.56096041" stroke="none">></polygon>
                                </svg>
                                <div class="rating-value"><span class="movie-details-rating">5.0</span> / 5.0</div>
                            </div>
                        </div>
                        <div class="heading-and-data">
                            <div class="movie-details-heading">Average of <span style="color:rgba(255,255,255,0.7);">{{ movie.ratingNumber | ratingNumberFormat }}</span> Ratings</div>
                            <div class="rating-or-prediction predicted">
                                <el-rate v-model="averageRating" disabled show-score score-template="{value}" text-color="#f5c518" :colors="colors"></el-rate>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="heading-and-data">
                            <div class="movie-details-heading">Genres</div>
                            <div class="genres-chip-list">
                                <a class="genres-chip genres-chip__layout" v-for="(genre, index) in movie.genres" :key="genre" :href="`/collection/${genre}`">
                                    <span class="genres-chip__text" role="presentation" v-text="genre"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 另起一行，评分功能 -->
                    <div class="col-md-offset-2 col-md-7">
                        <div class="heading-and-data">
                            <div class="rating-function-heading">{{ ratingTips }}</div>
                            <div class="rating-or-prediction rating-function">
                                <!--<el-rate v-model="userRating" :icon-classes="iconClasses" void-icon-class="icon-rate-face-off" :colors="colors"></el-rate>-->
                                <el-rate v-model="ratingValue" allow-half :icon-classes="iconClasses" void-icon-class="icon-rate-face-off" text-color="#f5c518" :colors="colors"></el-rate>
                                <svg v-if="isRatingRequestHandling" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                    <path fill="#f5c518" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z" transform="rotate(275.098 25 25)">
                                        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"></animateTransform>
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Related Movie -->
        <div class="frontpage-section-top">
            <div class="explore-header frontpage-section-header">
                <a class="plain-link genre-title genre-title-link-wrapper" title="Go to the related movies full page" th:href="@{|/related/${movie.movieId}|}">
                    <h3 class="genre-title__text">
                        <span >Related Movies</span>
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="ipc-icon ipc-icon--chevron-right-inline genre-link-icon--inline genre-title-link-chevron" viewBox="0 0 24 24" fill="currentColor" role="presentation">
                            <path d="M5.622.631A2.153 2.153 0 0 0 5 2.147c0 .568.224 1.113.622 1.515l8.249 8.34-8.25 8.34a2.16 2.16 0 0 0-.548 2.07c.196.74.768 1.317 1.499 1.515a2.104 2.104 0 0 0 2.048-.555l9.758-9.866a2.153 2.153 0 0 0 0-3.03L8.62.61C7.812-.207 6.45-.207 5.622.63z">
                            </path>
                        </svg>
                    </h3>
                    <div class="genre-title__description">Get top N related movies by calculating Cosine Similarity between this movie and its rec-candidates</div>
                </a>
            </div>
            <div class="movie-row">
                <div class="movie-row-bounds">
                    <div class="movie-row-scrollable">
                        <!--
                        <div th:each="Movie:${relatedMovies}" class="movie-row-item" style="margin-right: 5px">
                            <movie-card-smart>
                                <movie-card-md1>
                                    <div class="movie-card-md1">
                                        <div class="card">
                                            <link-or-emit>
                                                <a th:href="@{|/movie/${Movie.movieId}|}">
                                                <span>
                                                    <div class="poster">
                                                        <img th:src="@{|/posters/${Movie.movieId}.jpg|}"/>
                                                    </div>
                                                </span>
                                                </a>
                                            </link-or-emit>
                                            <div class="overlay">
                                                <div class="above-fold">
                                                    <linl-or-emit>
                                                        <a th:href="@{|/movie/${Movie.movieId}|}">
                                                            <span><p class="title" th:text="${Movie.title}"></p></span>
                                                        </a>
                                                    </linl-or-emit>
                                                    <div class="rating-indicator">
                                                        <ml4-rating-or-prediction>
                                                            <div class="rating-or-prediction predicted">
                                                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="star-icon" height="14px" version="1.1" viewbox="0 0 14 14" width="14px" xmlns="http://www.w3.org/2000/svg">
                                                                    <defs></defs>
                                                                    <polygon fill-rule="evenodd" points="13.7714286 5.4939887 9.22142857 4.89188383 7.27142857 0.790044361 5.32142857 4.89188383 0.771428571 5.4939887 4.11428571 8.56096041 3.25071429 13.0202996 7.27142857 10.8282616 11.2921429 13.0202996 10.4285714 8.56096041" stroke="none">></polygon>
                                                                </svg>
                                                                <div class="rating-value" th:text="${#numbers.formatDecimal(Movie.averageRating, 1, 2)}"></div>
                                                            </div>
                                                        </ml4-rating-or-prediction>
                                                    </div>
                                                    <p class="releaseYear" th:text="${Movie.releaseYear}"></p>
                                                </div>
                                                <div class="below-fold">
                                                    <div class="genre-list">
                                                        <div class="genre" th:each="subGenre:${Movie.genres}">
                                                            <a th:href="@{|/collection/${subGenre}|}" th:text="${subGenre}"></a>
                                                        </div>
                                                    </div>
                                                    <div class="ratings-display">
                                                        <div class="rating-average">
                                                            <span class="rating-large" th:text="${#numbers.formatDecimal(Movie.averageRating, 1, 2)}"></span>
                                                            <span class="rating-total">/5</span>
                                                            <p class="rating-caption" th:text="${Movie.ratingNumber}+' ratings'"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </movie-card-md1>
                            </movie-card-smart>
                        </div>
                        -->
                        <!-- Vue + Axios 加载相似电影 -->
                        <div id="vue_load_similar_movie">
                            <div v-show="!isFirstPage" v-on:click="prevPage" class="rec-list-page__arrow rec-list-pager rec-list-pager--visible rec-list-pager--left" role="presentation">
                                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="rec-list-icon--inline rec-list-pager-icon" viewBox="0 0 24 24" fill="currentColor" role="presentation">
                                    <path d="M18.378 23.369c.398-.402.622-.947.622-1.516 0-.568-.224-1.113-.622-1.515l-8.249-8.34 8.25-8.34a2.16 2.16 0 0 0 .548-2.07A2.132 2.132 0 0 0 17.428.073a2.104 2.104 0 0 0-2.048.555l-9.758 9.866A2.153 2.153 0 0 0 5 12.009c0 .568.224 1.114.622 1.515l9.758 9.866c.808.817 2.17.817 2.998-.021z"></path>
                                </svg>
                            </div>

                            <transition-group name="flip-list" tag="div">
                                <!-- key一定要设置为与遍历中的某元素的独立ID，否则(比如使用遍历时自动产生的index)会导致无法识别 -->
                                <div v-for="(movie, index) in curShowingList" v-bind:key="movie.movieId" class="movie-row-item flip-list-item" style="margin-right: 5px">
                                    <div class="movie-card-smart">
                                        <div class="movie-card-md1">
                                            <div class="card">
                                                <watchlist-ribbon v-bind:movie.sync="movie"></watchlist-ribbon>
                                                <div class="link-or-emit">
                                                    <a v-bind:href="`/movie/${movie.movieId}`">
                                                    <span>
                                                        <div class="poster">
                                                            <img v-bind:src="`/posters/${movie.movieId}.jpg`"/>
                                                        </div>
                                                    </span>
                                                    </a>
                                                </div>
                                                <div class="overlay">
                                                    <div class="above-fold">
                                                        <div class="link-or-emit">
                                                            <a v-bind:href="'/movie/' + movie.movieId"><span><p class="title"> {{ movie.title }} </p></span></a>
                                                        </div>
                                                        <div class="rating-indicator">
                                                            <div class="ml4-rating-or-prediction">
                                                                <div class="rating-or-prediction predicted">
                                                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="star-icon" height="14px" version="1.1" viewbox="0 0 14 14" width="14px" xmlns="http://www.w3.org/2000/svg">
                                                                        <defs></defs>
                                                                        <polygon fill-rule="evenodd" points="13.7714286 5.4939887 9.22142857 4.89188383 7.27142857 0.790044361 5.32142857 4.89188383 0.771428571 5.4939887 4.11428571 8.56096041 3.25071429 13.0202996 7.27142857 10.8282616 11.2921429 13.0202996 10.4285714 8.56096041" stroke="none">></polygon>
                                                                    </svg>
                                                                    <div class="rating-value"> {{ movie.averageRating | ratingFormat }} </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="releaseYear">{{ movie.releaseYear }}</p>
                                                    </div>
                                                    <div class="below-fold">
                                                        <div class="genre-list">
                                                            <div class="genre" v-for="subGenre in movie.genres">
                                                                <a v-bind:href="`/collection/${subGenre}`">{{ subGenre }}</a>
                                                            </div>
                                                        </div>
                                                        <div class="ratings-display">
                                                            <div class="rating-average">
                                                                <span class="rating-large">{{ movie.averageRating | ratingFormat }}</span>
                                                                <span class="rating-total">/5</span>
                                                                <p class="rating-caption">{{ movie.ratingNumber }} ratings</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </transition-group>

                            <div v-show="!isLastPage"  v-on:click="nextPage" class="rec-list-page__arrow rec-list-pager rec-list-pager--visible rec-list-pager--right" role="presentation">
                                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="rec-list-icon--inline rec-list-pager-icon" viewBox="0 0 24 24" fill="currentColor" role="presentation">
                                    <path d="M5.622.631A2.153 2.153 0 0 0 5 2.147c0 .568.224 1.113.622 1.515l8.249 8.34-8.25 8.34a2.16 2.16 0 0 0-.548 2.07c.196.74.768 1.317 1.499 1.515a2.104 2.104 0 0 0 2.048-.555l9.758-9.866a2.153 2.153 0 0 0 0-3.03L8.62.61C7.812-.207 6.45-.207 5.622.63z"></path>
                                </svg>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer th:replace="common/footer::footer"></footer>

</body>
</html>